{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% block page_title %}{% endblock %} | Media Janitor{% endblock %}</title>
  {% tailwind_css %}
  <style>[x-cloak] { display: none !important; }</style>
  <script defer src="{% static 'vendor/alpine-3.15.12.min.js' %}"></script>
  <script src="{% static 'vendor/htmx-2.0.10.min.js' %}"></script>
</head>

{% block body %}
<body class="min-h-screen bg-base-200 text-base-content" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <main class="max-w-3xl mx-auto px-4 py-10">
    {% block content %}{% endblock %}
  </main>
</body>
{% endblock %}

</html>
